*{
    margin: 0;
    padding: 0;
}
/* ----------Navigation--------- */
.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 0.5rem;
}
.header img{
    max-height: 40px;
}
/* ----------Main Container-------- */
.dashboard{
    position: relative;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}
.dash-top{
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dash-top button{
    font-size: 1.5rem;
    padding: 0.25rem;
}
.dashboard h2{
    display: inline-block;
}

/* ---------Form---------- */

.container-form{
    height: 0;
    overflow: hidden;
}
.container-form.open{
    height: 100%;
}

/* ---------Objectives--------- */
.dashboard h4{
    display: inline-block;
}
.dash-body{
    margin: 0.5rem 0;
}
.dashboard span{
    font-size: 0.7rem;
    background-color: aqua;
    border-radius: 0.5rem;
    padding: 0.1rem 0.5rem;
}
.task-drop{
    margin: 0 0.5rem;
}

/* ---------Tasks Section--------- */
.dash-tasks{
    height: 0;
    overflow: hidden;
}
.task-item{
    margin: 0.5rem;
    display: flex;
    align-items: center;
}
.task-item input{
    margin: 0 0.5rem;
}
.dash-tasks.open{
    height: 100%;
}



